.pStart{
	background: #000000;
}
.page{
	height: 100vh;
}
.main .names{
	background: #fff;
}
.bottom_1{
	width: 50vh;
	background: #fff;
}
#php{
	background: #fff;
	position: absolute;
}
#mysqli{
	background: #fff;
	position: absolute;
	bottom: 50vh;
	left: 0;
}
#js{
	background: #fff;
	position: absolute;
	bottom: 50vh;
	right: 0;
}
#say{
	background: #fff;
	position: absolute;
	bottom: 0vh;
	right: 50wh;
}
#bootstrap{
	background: #fff;
	position: absolute;
	bottom: 0;
	right: 0;
}
.tops{
	cursor: pointer;
	width: 10%;
	position: absolute;
	bottom: 20px;
	right: 20px;
}
.bottoms{
	cursor: pointer;
	width: 10%;
	float: right;
}
.enter{
	text-align: center;
	width: 250px;
	color: white;
	text-decoration: none;
	font-weight: bold;
	font-size: 140%;
	background: black;
	padding: 15px 10px 20px 5px;
	border-radius: 10px;
	border: 3px solid white;
}

.for_text{
	background: white;
	width: 88%;
	padding: 20px;
	border-radius: 10px;
}
.for_text img{
	width: 100px;
	float: right;
}
.block_auth{
	position: absolute;
	bottom:80px;
	left:-10px;
	transform: rotate(-90deg);
}
.enter:hover{
	color: white;
}
.enter img{
	width: 100px;


}
#one{
	background-image: url(/resourse/visible/fon_start2.svg); /* Путь к фоновому рисунку */
	background-position: center center; /* Положение фона */
    background-repeat: no-repeat; /* Отменяем повторение фона */
    background-size: 40%;
}
#one h1 span{
	color: red;
}
#one h1{
	font-size: 400%;
}
#two{
	background: #9999FF;
	font-weight: bold;
	font-size: 130%;
}
.clean{
	clear: both;
}





.main_logo{
  width: 100px;
}
.main_header{
  background: black;
}
.main_header a{
	color: #ffffff;
	text-decoration: none;
	font-size: 120%;
	font-weight: bold;
}
.main_header a:hover{
	color: #9999FF;
}

.block_for_sheme{
	max-width:800px;
	margin:0 auto;
}
.main_content{
	margin:0 auto;
	max-width:1000px;
}
.fotoone{
	max-width:600px;
	margin:0 auto;
	text-align: center;
}

#floatingTextarea{
	height: 400px;
}